<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind CSS CDN link -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Vice Versa</title>
  </head>
  <body class="bg-gray-100">
    <div class="w-full m-auto p-28 ">
      <h1
        class="m-auto pt-4 pb-2 text-3xl font-bold text-gray-900 dark:text-white"
      >
        Original text has {{number_of_words}} words
      </h1>

      <p class="text-xl font-bold text-green-800 dark:text-white">
        {{usertext}}
      </p>
      <br/>
      <hr class="h-2 bg-gray-200 rounded-full"/>
      <h1
        class="m-auto pt-4 pb-2 text-3xl font-bold text-gray-900 dark:text-white"
      >
        Reversed Text
      </h1>

      <p class="text-xl font-bold text-green-800 dark:text-white">
        {{reversedtext}}
      </p>
    </div>
  </body>
</html>
